body{
	background-color: #ddd;
	font-family: 微软雅黑,"Microsoft YaHei", 黑体;
	margin: 0px;
	min-width: 800px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.small_font{
	font-size: 8px;
}
.img_center{
	width: 100%;
	text-align: center;
}
#js_unable{
	background-color: black;
	color: white;
	text-align: center;
	height: 50px;
}
/*头部*/
#header{
	/*background-color: #0a0;*/
	background-image: url(../images/head.png);
	background-position: center;
	height: 100px;
}
/*头部-end*/
/*导航*/
#direct_link{
	background-color: #2a5caa;
	color: white;
	font-size: 14px;
	height: 25px;
}
	#direct_head_bar{
		position: absolute;
		right: 800px;
	}

	#link_cell_title, .link_cell{
		float: left;
		width:100px;
		border: 0px;
		border-right: 1px white solid; 
		height: 25px;
	}
		#link_cell_title a{
			float: left;
			position: relative;
			right: 80px;
			font-size: 18px;
		}
		#link_cell_title:hover{
			background-color: #2a5caa;
		}
		.link_cell:hover{
			background-color: #4a7cca;
		}
		.link_cell:hover .child_list_cell{
			display: block;
		}
		.link_cell>div{
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.link_cell a{
			position: relative;
			top: 2px;
		}
			.child_list{
				list-style: none;
				position:absolute;
				margin: 0px;
			}
			.child_list_cell{
				border-top: 1px white solid; 
				display: none;
				text-align: center;
				height: 35px;
				line-height: 35px;
				z-index: 20;
				background-color: #447;
				position: relative;
				width: 100px;
				transform: translateX(-40px);
			}
			.child_list_cell:hover{
				background-color: #66A;
				
			}
		
		
	#direct_link a{
		text-decoration:none;
	}
	#direct_link a:link, #direct_link a:visited, #direct_link a:hover{
		color: white;
	}
	#direct_link a:active{
		color: #ddd;
	}
	
	

#list_normal{
	width: 100%;
	background-color: #2a5caa;
	z-index: 10;
}
#list_fixed{
	width: 100%;
	background-color: #2a5caa;
	top:0px;
	position: fixed;
	z-index: 10;
	opacity: 0.8;
	transition: opacity .1s linear 0s;
}
#list_fixed:hover{
	opacity: 1;
	transition: opacity .1s linear 0s;
}
/*导航-end*/
/*左侧导航栏*/
/*左侧导航栏-end*/
/*主体-end*/

/*主体-end*/
/*尾部-end*/
#tail{
	background-color: #006c54;
	height: 100px;
	text-align: center;
	color: white;
	font-size: 12px;
}
	#tail_pic{
		width: 50px;
		height: 50px;
		position: relative;
		top: 10px;
	}
	#tail a:link, #tail a:visited{
		color: white;
	}
	#tail a:active, #tail a:hover{
		color: #ddd;
	}
/*尾部-end*/

	#other_maps_table_2{
				width: 100%;
			}
			.other_maps_cell_2{
				width: 25%;
				text-align: center;
				font-size: 12px;
				color: #777;
			}