#form_zone{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	background-color: #006c54;
	color: white;
	text-align: center;
}
	#fb_title{
		font-size: 20px;
		width: 100%;
	}
.fd_key{
	width: 150px;
	text-align: right;
	border: 1px #ddd solid;
	height: 30px;
}

.fd_value{
	width: 350px;
	text-align: left;
	border: 1px #ddd solid;
	border-left: 0px;
	height: 30px;
	background-color: #228e76;
}

.fb_input{
	height: 30px;
	width: 350px;
	-web-kit-appearance:none;
 	-moz-appearance: none;
	color: white;
	outline: none;
	line-height: 20px;
	font-size: 20px;
	border: 0px;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0);
}
.fb_select{
	position: relative;
	top: -1px;
	height: 20px;
	width: 350px;
	color: white;
	line-height: 14px;
	font-size: 14px;
	border: 0px;
	padding-left: 10px;
	background-color: #004433;
	outline: none;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.fb_button{
	height: 30px;
	width: 200px;
	color: white;
	line-height: 16px;
	font-size: 16px;
	border: 0px;
	background-color: #004433;
}
.fb_button:hover{
	background-color: #66BBAA;
}
.fb_select:hover{
	background-color: #002211;
}
.fb_select option{
	background-color: #004433;
}
#fb_textarea{
	height: 200px;
	resize: none;
}
::-webkit-input-placeholder{
	font-size: 15px;
	color: #ddd;
}
:-moz-placeholder{
	font-size: 15px;
	color: #ddd;
}
::-moz-placeholder{
	font-size: 15px;
	color: #ddd;
}
:-ms-input-placeholder{
	font-size: 15px;
	color: #ddd;
}