#body_table{
	width: 100%;
	text-align: left;
}

	#direct_area_title{
		color: white;
		text-align: center;
		width: 246px;
		height: 30px;
		font-size: 20px;
		border: 2px white solid;
	}
	#content_title{
		color: white;
		border: 2px white solid;
		border-left: 0px;
		text-align: center;
		font-size: 20px;
	}

	#direct_area{
		width: 246px;
		border: 2px white solid;
		border-top: 0px;
		color: white;
		vertical-align: top; 
	}
	.area_color_red{
		background-color: #a00;
	}
	.area_color_blue{
		background-color: #225;
	}
	.area_color_yellow{
		background-color: #CD7000;
	}
		#direct_area>ul{
			font-size: 12px;

		}
		#direct_area a{
			text-decoration: none;
		}
		#direct_area a:link, #direct_area a:hover, #direct_area a:visited{
			color: white;
		}
		#direct_area a:active{
			color: #ddd;
		}
			.h1_title{
				font-size: 20px;
			}
			.h2_title{
				font-size: 14px;
			}
			.h3_title h2{
				font-size: 12px;
			}

	#content_area{
		color: #515140;
		vertical-align: text-top; 
	}
		#content_area a:link, #content_area a:hover, #content_area a:visited{
			color: #515140;
		}
		#content_area a:active{
			color: #313120;
		}
		#limit_area{
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}


.display_pic{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}